﻿@page
@model apiGestores.Pages.listCourses.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<br />
<h2 class="text-info">Edit curso</h2>
<div class="border">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Curso.id" />
        <div class="container" style="padding:30px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Curso.name">Nombre del curso</label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Curso.name" class="form-control" />
                    </div>
                    <span asp-validation-for="Curso.name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Curso.launch">Lanzamiento</label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Curso.launch" class="form-control" />
                    </div>
                    <span asp-validation-for="Curso.launch" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Curso.developer"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Curso.developer" class="form-control" />
                    </div>
                    <span asp-validation-for="Curso.developer" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2 offset-sm-2">
                        <input type="submit" value="Actualizar" class="btn btn-primary form-control" />
                    </div>
                    <div class="col-sm-2">
                        <a asp-page="Index" class="btn btn-success form-control">Volver a lista</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
